body {
  background: #ffffff;
  color: #d5a544;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
body > * {
  padding: 1rem;
}
.link {
  font-size: 0.7rem;
  color: #d2394e;
  text-decoration: underline;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}
h1 img {
  height: 2.5rem;
  width: 2.5rem;
  vertical-align: sub;
  margin-right: 0.5rem;
}
#another {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  color: #d2394e;
}
@media (min-width: 320px) and (max-width: 480px) {
  #another {
    position: relative;
    display: block;
    text-align: center;
  }
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
article q {
  display: block;
  margin-bottom: 1rem;
  font-size: 5vw;
}
article q:before,
article q:after {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
}
.collapse input {
  display: none;
}
.collapse label {
  display: block;
  cursor: pointer;
}
.collapse > div {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}
.collapse input:checked ~ div {
  max-height: 2rem;
}
.collapse p {
  margin-bottom: 0;
  font-size: 0.7rem;
}
