---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Random chicken facts (with an API)" />
    <meta property="og:title" content="Chicken Facts" />
    <meta
      property="og:description"
      content="Your #1 source for random chicken facts."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://chickenfacts.com" />
    <meta property="og:image" content="https://chickenfacts/logo.png" />
    <title>Chicken Facts</title>
    <link href="/app.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-141196024-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-141196024-1");
    </script>
  </head>
  <body>
    <header>
      <h1>
        <a href="/"><img src="/logo.png" alt="a chicken" />Chicken Facts</a>
      </h1>
      <a href="/" id="another" title="Get another chicken fact">↻ Another</a>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <div class="collapse">
        <input id="contact" type="checkbox" />
        <label for="contact" class="link">Contact</label>
        <div>
          <p>
            Created by
            <a href="https://aaronsaray.com" target="_blank" class="link"
              >Aaron Saray</a
            >
            with
            <a
              href="https://github.com/aaronsaray/chickenfacts.io"
              class="link"
              target="_blank"
              >this source code</a
            >.
          </p>
        </div>
      </div>
      <a
        href="https://github.com/aaronsaray/chickenfacts.io/blob/master/API.md"
        target="_blank"
        class="link"
        >API</a
      >
    </footer>
    <script src="/app.js"></script>
  </body>
</html>
